

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    min-height: 100vh;
    overflow: hidden;
}

/* Globe */

.map {
    background-color: #6F8EA6;
    margin: 1em;
    height: 90vh;
    width: 100vh;
    border: 1px solid #000;
}

.point {
    stroke: #fff;
    fill: red;
}

.hover {
    fill: yellow;
}
/* Chart */

.chart {
    margin: 1em;
    border: 1px solid #000;
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}